
@font-face {
    font-family: 'Source Sans Pro';
    src: url('../styles/SourceSansPro-Regular.otf') format('opentype');
  }

  * {
    font-family: 'Source Sans Pro';
  }

  :root {
    --purple-accent: #C271FF;
    --dark-navy: #071629;
  }

  html {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }

  body {
    width: 1440px;
    height: 3718px;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }

  /* HEADER */

  header {
    width: 1103.408px;
    height: 29.461;
    flex-shrink: 0;
    position: relative;
    top: 75px;
    left: 175.67px;
    right: 165px;
  }

  .topbar-container {
    display: flex;
    gap: 702.39px;
  }

  .topbar-container .menu {
    display: flex;
    gap: 52px;
  }

  .topbar-container .menu a {
    color: #FFF;
    font-size: 12px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-decoration: none;
  }

/* MAIN */

main {
    width: 1440px;
    height: 3718px;
  }

  /* First Section */

  .register-button {
    width: 162px;
    height: 44px;
    flex-shrink: 0;
    color: #FFF;
    text-align: center;
    font-family: "Source Sans Pro";
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    border-radius: 22px;
    background: var(--purple-accent);
  }

  .main-banner-container {
    width: 1440px;
    height: 1093px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: radial-gradient(85.9% 85.9% at 50% 14.1%, rgba(41, 48, 61, 0.00) 0%, #071629 100%),
                url(../images/smile-school-background.png) lightgray 0px 0px / 100% 100% no-repeat;
  }

  .main-banner-container .main-title-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 0px;
    margin-bottom: 100px;
  }

  .main-banner-container .main-title-container h1 {
    color: #FFF;
    text-align: center;
    font-size: 120px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-bottom: 0;
    margin-top: 10px;
  }

  .main-banner-container .main-title-container p {
    color: #FFF;
    text-align: center;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    word-spacing: 59px;
    margin-top: 0;
  }

  .pro-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    width: 1009px;
    height: 237px;
    flex-shrink: 0;
    margin-left: 221.08px;
  }

  .pro-container .pro-avatar-container {
    display: flex;
    justify-content: space-evenly;
    gap: 139px;
  }

  .pro-container h2 {
    color: #FFF;
    font-size: 32px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    margin-top: 200px;
    margin-bottom: 100px;
  }

  .pro-container h2 strong {
    color: var(--purple-accent);
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
  }

  .pro-container .pro-avatar-container .pro {
    width: 150px;
    height: 237px;
    flex-shrink: 0;
  }

  .pro-container .pro-avatar-container .pro img {
    width: 150px;
    height: 150px;
    border-radius: 100px;
    flex-shrink: 0;
  }

  .pro-container .pro-avatar-container .pro h3 {
    width: 150px;
    color: #FFF;
    text-align: center;
    font-size: 18px;
    font-style: normal;
    font-weight: 900;
    line-height: 27px;
  }

  .pro-container .pro-avatar-container .pro p {
    width: 150px;
    color: #FFF;
    text-align: center;
    font-size: 16px;
    font-style: italic;
    font-weight: 400;
    line-height: 24px;
  }

