
@font-face {
    font-family: 'Source Sans Pro';
    src: url('../styles/SourceSansPro-Regular.otf') format('opentype');
  }

  * {
    font-family: 'Source Sans Pro';
  }

  :root {
    --purple-accent: #C271FF;
    --dark-navy: #071629;
  }

  html {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }

  body {
    width: 1440px;
    height: 3718px;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }

  /* HEADER */

  header {
    width: 1103.408px;
    height: 29.461;
    flex-shrink: 0;
    position: relative;
    top: 75px;
    left: 175.67px;
    right: 165px;
  }

  .topbar-container {
    display: flex;
    gap: 702.39px;
  }

  .topbar-container .menu {
    display: flex;
    gap: 52px;
  }

  .topbar-container .menu a {
    color: #FFF;
    font-size: 12px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-decoration: none;
  }


